<div class="well comment" data-id={{comment.id}}>
    <p class="comment-data">Posted by: you! - <a class="edit-comment">Edit</a> - <a class="delete-comment">Delete</a></p>
    <p class="comment-content">{{comment.content}}</p>
</div>
