$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'flags';

ul {
  list-style-type: none;
}

.spacer100 {
  height: 100px;
}

.comment-btn {
  margin: 5px 0;
}

.flags {
  cursor: pointer;
}

.flag {
  margin: 5px 0;
  width: 100%;
}

.flag-header {
  padding: 5px 15px;
}
