$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'flags';
@import 'comments';

ul {
  list-style-type: none;
}

.spacer {
  height: 75px;
}

.modal-body {
  padding: 5px 10px;
}

.form-group {
  margin: 0;
}
