.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  font-size: x-large;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > *:hover,
.rating > *:hover ~ span,
.rating:not(:hover) > input:checked ~ span {
  color: transparent;
  cursor: pointer;
}

.rating > *:hover:before,
.rating > *:hover ~ span:before,
.rating:not(:hover) > input:checked ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: gold;
}

.rating > input {
   margin-left:-1.1em;
   margin-right:0;
   top:3px;
   width:1.1em;
   height:1.1em;
   position:relative;
   z-index:2;
   opacity:0;
}
